<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhavanavennamaneni.courseportal" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bhavanavennamaneni.courseportal.LoginActivity" />
        </activity>
        <activity
            android:name=".CourseActivity"
            android:label="@string/title_activity_course"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".PostActivity"
            android:label="@string/title_activity_post"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:label="@string/title_activity_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GradeActivity"
            android:label="@string/title_activity_grade"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".AddGradeActivity"
            android:parentActivityName=".GradeActivity"
            android:label="@string/title_activity_add_grade" >
        </activity>
    </application>

</manifest>
